.markdown-body {
    max-width: 1280px;
    margin: 0 auto;
}

.posts-ul, .tags-ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0
}

.post-li {
    .title {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .date {
        color: #666;
        margin: 0;
        font-size: 12px;
    }
}

.tag-li {
    display: inline;
    font-size: 12px;
}
