.markdown-body {
    max-width: 1280px;
    margin: 0 auto;
}

footer {
    height: 50px;
}

.posts-ul, .tags-ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0
}

li.post-li, li.tag-li {
    h2 {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    > p {
        margin-top: 8px;
        margin-bottom: 0;
    }
}

.tag-li-inline {
    display: inline;
    font-size: 12px;
}

p.date {
    color: #666;
    margin: 0;
    font-size: 12px;
}

.language-python, .language-javascript {
    .k, .kd {
        color: #cf222e;
    }

    .ow, .mi, .o {
        color: #0550ae;
    }

    .c1 {
        color: #6e7781
    }

    .nf, .nb {
        color: #6639ba;
    }
}
